flask==3.0.2
python-docx>=1.1.2,<2.0.0
openpyxl>=3.1.5,<4.0.0
python-pptx>=1.0.2
PyPDF2==3.0.1
markdown==3.5
Werkzeug>=3.0.0
python-magic==0.4.27
pywin32>=307; sys_platform == 'win32'
pytesseract==0.3.10
Pillow>=8.0.0
pdf2image==1.16.3
markitdown[all]>=0.1.0
docling #如果不使用docling，则注释掉 -if you don't use docling, comment it out
python-magic-bin==0.4.14; sys_platform == 'win32'
requests
pydub
gunicorn==23.0.0 